nav{
	float:right;
	font-size:1.1em;
	font-weight:600;
	
	ul {
		float: right;
		margin-top:30px;
	}
	
	li {
		font-size: 0.8em;
		line-height: 40px;
		display:inline-block;
		margin-left: 10px;
	}
 
	a {
		text-decoration: none;
		color: #fff;
		display: block;
		padding-left:30px;
		padding-right:30px;
	}
 
	ul li ul li {
		width: 100%;
		text-align: left;
	}

	ul li:hover {
		cursor: pointer;
		position: relative;
	}
	
	ul li:hover > ul {
		display: block;
	}

	a:hover {
		background-color: $primary-color;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		padding-left:30px;
		padding-right:30px;
	}
 
	.current-menu-item {
		background-color: $primary-color;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}  
 }


[type="checkbox"], label {
	display: none;
}


